KESTREL_CERT_PATH=/https/arcanum.pfx
KESTREL_CERT_PASSWORD=your_dev_cert_password

# Linux: /home/<username>/.aspnet/https
# Windows: C:/Users/<username>/.aspnet/https
HTTPS_CERT_DIR=/home/<username>/.aspnet/https

POSTGRES_DB=arcanum
POSTGRES_USER=arcanum_user
POSTGRES_PASSWORD=your_postgres_password

SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=xxxxxxxxxxxxxxxx